<h1>Images list</h2>

<div id="images">
  <% @images.each do |image| %>
    <div id="uploaded_image">
      <%= image_tag(image.name) %>
      <%= image.name %>
      <%= link_to 'delete' %>
   <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>    

</div>
  <% end %>
</div>

<div id="upload">
  <%= form_tag({:action => :upload}, :multipart => true) do %>
    <%= file_field_tag 'picture' %>
    <%= submit_tag 'Butta su!!!' %>
  <% end %>
</div>
