<h1>Images list</h2>

<div id="images">
	
  <% @images.each do |image| %>
    <%= image_tag(image.name) %>
    <%= image.name %>
  <% end %>
</div>

<div>
	<%= form_tag({:action => :upload}, :multipart => true) do %>
	  <%= file_field_tag 'picture' %>
          <%= submit_tag 'Butta su!!!' %>
	<% end %>
	 
</div>
